@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.card {
  margin: 3% 1.5% 0% 1.5%;
  width: 20% !important;
}

.margins {
  margin-top: 3%;
}

.card-title {
  font-family: "Bebas Neue", cursive;
  font-size: 200%;
}

.btn {
  background-color: #138f78 !important;
  border: none !important;
  font-family: "Bebas Neue", cursive;
  font-size: 125% !important;
}

.btn:hover {
  background-color: #7de3d0 !important;
}

.site {
  margin-left: 5%;
}
