@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.container {
  max-width: 100% !important;
}

.img-resize {
  width: 17%;
  height: 17%;
}

.margin-container {
  margin-left: 3% !important;
  margin-right: 3% !important;
}

.navbar-light {
  background-color: #c7c7c7 !important;
  border-bottom: 4px solid #bdbdbd;
  box-shadow: 0px 5px 5px rgb(167, 167, 167);
}

.navbar-font {
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
  color: #138f78;
}

.hover:hover {
  color: #7de3d0;
  text-decoration: none;
}
